body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

#quoteContainer {
    background-color: white;
    margin: 30vh auto;
    width: 70vh;
    height: 20vh;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

